body { background: #36c62; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 50px; display: flex; }
.block-session-0 { color: #71cb7d; font-size: 21px; margin-bottom: 5px; }
.block-router-1 { color: #59531a; font-size: 20px; margin-bottom: 5px; }
.block-notify-2 { color: #9374d4; font-size: 21px; margin-bottom: 5px; }
.block-helper-3 { color: #fd94da; font-size: 21px; margin-bottom: 5px; }
.block-user-4 { color: #7be726; font-size: 21px; margin-bottom: 5px; }
.block-database-5 { color: #76c563; font-size: 19px; margin-bottom: 5px; }
.block-cart-6 { color: #aeedf5; font-size: 18px; margin-bottom: 5px; }